<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Tech Women", root_path, id: "logo" %>
       <%= link_to "Career Paths", career_path_index_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><p class="navbar-text pull-right">
            <% if user_signed_in? %>
            Welcome back <strong><%= current_user.username %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%if current_user.admin? %>
            <%= link_to 'Admin', admin_root_path, :class => 'navbar-link' %> |
            <%end%>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> |
            <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
