<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div> <br>

  <div><%= f.label :username %>
  <%= f.text_field :username %></div> <br>

    <div><%= f.label :password %>
  <%= f.password_field :password %></div><br>

  <div><%= f.label "Password Confirmation" %>
  <%= f.password_field :password_confirmation %></div><br>

  <div><%= f.label "City" %>
  <%= f.text_field :location %></div><br>

  <div><%= f.label :company %>
  <%= f.text_field :company %></div><br>

  <div><%= f.label "Job Title" %>
  <%= f.text_field :job_title %></div><br>

  <div><%= f.label :technologies %>
  <%= f.text_field :technologies %></div><br>

  <div><%= f.label "Tell us about yourself" %>
  <%= f.text_area :blerb %></div><br>

  <div><%= f.label :facebook %>
  <%= f.url_field :facebook %></div><br>

  <div><%= f.label :linkedin %>
  <%= f.url_field :linkedin %></div><br>

  <div><%= f.label :blog %>
  <%= f.url_field :blog %></div><br>

  <div><%= f.label :github %>
  <%= f.url_field :github %></div><br>

  <div><%= f.label :personal_site %>
  <%= f.url_field :personal_site %></div><br>

  <div><%= f.label :other_site %>
  <%= f.url_field :other_site %></div><br>

  <div><%= f.submit "Sign up" %></div>
  <% end %>

  <%= render "users/shared/links" %>
